@import url(https://fonts.googleapis.com/css?family=Noto+Sans:700,400,400italic);

body {
	font-family: 'Noto Sans', sans-serif;
	background-color: #eee;
}
nav {
	width: 100%;
	height: 70px;
	background-color: #000;
}
#sidebar-area {
	border-left: 1px solid #000;
}
.inner-box #testing0 {
	color: blue;
}
.outer-box {
	border: 1px solid #000;
	width: 19%;
	overflow: hidden;
	display: inline-block;
	background-color: black;
}
.inner-box {
	background-color: #000;
	color: transparent;
	height: 135px;
	padding: 10px;
}
.inner-box p{
	font-size: 1em;
}
.inner-box:hover {
	background-color: #fff;
	color: #000;
}
.outer-box-active {
	width: 38.5%;
	font-size: 1em;
}
.inner-box-active {
	color:transparent;
}
.inner-box-active p {
	font-size: 1em;
}
.active-box-container {
	background-color: none;
}
.active-box-container #response {
	padding:0px;
	margin: 10px;
}
/*.inner-box {
	background-color: #fff;
}*/