@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700italic,900,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Pontano+Sans);

body {
	font-family: 'Playfair Display', sans-serif;
	background: url(http://melissamesku.com/images/nasa-time-capsule-bkg.jpg) no-repeat fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover; 
}
nav {
	width: 100%;
	background-color: rgba(0,0,0,.7);
	font-family: 'Pontano Sans';
	margin-bottom: 50px;
}
nav ul {
	text-align: right; 
	display: inline;
	float:right;
}
nav ul li {
	display: inline;
	color: #eee;
	text-transform: uppercase;
	padding: 10px;
}
nav ul li:hover {
	color: #000;
	background-color: #eee;
	cursor: pointer;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display';
	font-weight: 800;
	color: #4b3b4b;
}  
h2, h3, h4, h5, h6 {
	color: #eee;
	text-shadow: 2px 2px 2px #000;
}
button {
	background-color: rgba(0,0,0,.6);
	color: #eee;
	border-color: #eee;
	border: 1px solid #eee;
	padding: 9px 11px;
	font-family: 'Pontano Sans';
}
nav button {
	background-color: transparent;
	color: #4b3b4b;
	border-color: #4b3b4b;
	border: 1px solid #4b3b4b;
}
button:focus, button:active, button:hover, button:target {
	background-color: #4b3b4b;
	outline:none;
}
nav ul button {
	color: #eee;
	margin: 20px 20px 0 0;
}
h1#logo {
	padding: 0 0 0 10px;
	cursor: pointer;
	font-family: 'Playfair Display';
	border: none;
	display: inline;
}
h1#logo:hover {
	color: #765e76;
}
p {
	font-size: 24px;
	text-shadow: 2px 2px 2px #000;
}
p.small-text {
	font-size: .9em;
}
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	font-family: 'Pontano Sans';
	margin: 0;
	padding: 6px;
	color: #ccc;
	opacity: .8;
	font-size: .7em;
	z-index: -1;
}
.landing {
	font-size: 3em;
	opacity: .7;
}
#form-container {
	padding-top: 40px;
	margin: 0 0 40px 0;
	color: #fff;
}
#sidebar-area {
	padding-top:40px;
}
#accordion.content {
	color:#4b3b4b;
	line-height: 10px;
}
.outer-box {
	border: 1px solid #000;
	width: 24%;
	height: 163px;
	overflow: hidden;
	display: inline-block;
	cursor: pointer;
}
.inner-box {
	color: transparent;  /* part 1 of 2: see the questions ONLY when you hover */
	padding: 10px;
	height: 163px;
	opacity: .3;
}
.inner-box p {
	font-size: 1.4em;
	line-height: 1.3em;
	text-shadow: none;
}
.inner-box:hover {
	color: #000;   /* part 2 of 2: see the questions ONLY when you hover */
}
.outer-box-active {
	width: 48.5%;
}
.inner-box-active {   
	color: transparent;
} 
.inner-box-active p {   
	font-size: .9em;
	color: #000;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
	padding: 5px;
}
label {
	color: #fff;
	font-size: 20px;
	text-shadow: 1px 1px 1px #000;
}
.active-box-container {
	background-color: none; /*  this class works but this line doesn't work */
}
.active-box-container input {
	color: #4b3b4b;
	border: 1px solid #4b3b4b;
	font-size: .8em;
	padding: 7px 9px;
	font-family: 'Pontano Sans';
}
.active-box-container input[type=text] {
	width: 94%;
	margin: 0px auto;
}
.active-box-container input[type=submit] {
	background-color: transparent;
	margin: 5px;
	border: 1px solid #eee;
	color: #eee;
}
.active-box-container input[type=submit]:hover {
	background-color: #4b3b4b;
	color:#eee;
}
#answered-container {
	font-size: .8em;
}

#signup-through-login {
	float:right;
	display: block;
}
#login-through-signup {
	float:right;
	display: block;
}
.list-questions {
	height: 38px;
	overflow: hidden;
	color: #eee;
	text-shadow: 1px 1px 1px #000;
	opacity: .8;
}
#refresh {
	padding: 4px;
	opacity: .5;
}
#big-image-text img {
	float:left;
	width: 150px;
	padding: 10px;
}


/* MODAL */

#modal{
	top: 0;
	left: 0;
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.4);
}
.modal-content {
	position: relative;
	padding: 30px 20px 0px 20px;
	margin: 0 30%;
	background-color: rgba(0,0,0,.4);
	top: 150px;
	width: 35%;
	text-align: center;
	display: block;
}
.modal-button-area button {
	display: inline;
	margin: 30px;
}
#close {
	position: absolute;
	top: 0px;
	left:0px;
	text-align: left;
	font-size: 20px;
	padding: 0px 14px 6px 14px;
	border:none;
	margin: 2px;
}
#close:hover {
	color:#ccc;
}
.modal-header {
	position: absolute;
	background-color: white;
	width: 100%;
}
.modal-body {
	width: 100%;
	top: 50px;
	background-color: white;
	border-top: 2px solid black;
}







